html, body {
  background-color: #323232;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ====================================
                SPINNER
==================================== */
/*section:last-child {
  border: 1px solid black;
  position: relative;
  margin-bottom: 0;
  width: 50%;
  height: 100%;
}*/

.spinner-4 {
  /*border: 1px solid blue;*/
  height: 100%;
  width: 100%;
}

.spinner-4 h3{
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  font-family: Dosis,Roboto;
}

.spinner-4 p {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0 auto;
  font-family: Dosis,Roboto;
}

.spinner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  /*border: 1px solid pink;*/
}

.spinner-4 .spinner:before, .spinner-4 .spinner:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 50px;
  height: 50px;
  content: "";
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.spinner-4 .spinner:before {
  left: 0;
  background-color: #28aadc;
  -webkit-animation: spinner-4-left 0.5s infinite ease;
  -moz-animation: spinner-4-left 0.5s infinite ease;
  -ms-animation: spinner-4-left 0.5s infinite ease;
  -o-animation: spinner-4-left 0.5s infinite ease;
  animation: spinner-4-left 0.5s infinite ease;
}
.spinner-4 .spinner:after {
  right: 0;
  background-color: #ff3c50;
  -webkit-animation: spinner-4-right 0.5s infinite ease;
  -moz-animation: spinner-4-right 0.5s infinite ease;
  -ms-animation: spinner-4-right 0.5s infinite ease;
  -o-animation: spinner-4-right 0.5s infinite ease;
  animation: spinner-4-right 0.5s infinite ease;
}

/* left ball */
@keyframes spinner-4-left {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

/* right ball */
@keyframes spinner-4-right {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

/* ====================================
                INFO ABOUT APP
==================================== */
#help {
  position: relative;
  /*padding: 10px 10px 10px 10px;*/
  z-index: 11;
  /*height: 0;*/
}

#help p{
  height: 0;
  overflow: hidden; /*so the p's dont go on top of one another*/
  visibility: hidden;
  opacity: 0;
  transition: visibility 1.0s, opacity 0.5s linear;

  font-family: Dosis;
  color: white;
  /*font-size: 0px;*/
  /*font is 0 so it is not visible at first*/
}

/*#help::after {
  content: url("smallerdown.png");
  margin: 0 auto;
  border: 1px solid red;
  position: absolute;
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 60px;
  right: 10px;
  bottom: -40px;
}*/

/* ====================================
                MAP
==================================== */

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

/* ====================================
                UI Elements
==================================== */
.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  opacity: 0.0;
  margin-top: 10px;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#help-button {
  opacity: 0.0;
  margin-top: 10px;
  background-color: #fff;
  font-family: Roboto;
  margin-right: 12px;
  padding: 0 11px 0 13px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  /*visibility: hidden;*/
  opacity: 0.0;
  position:absolute;
  bottom:0;
  margin-left: 12px;
  margin-bottom: 12px;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* ====================================
          POPUP WINDOW
==================================== */
h3, p{
  /*background-color: yellow;*/
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

a {
  text-decoration: none;
}

.content{
  text-align: center;
}

.content img{
  background-image: url("comingsoon.jpg");
  background-size: contain;
  background-position: center center;
  border: 1px solid black;
  width: 50%;
  height: 200px;
  display:block;
  margin:auto;
}

h3, h2, a, p{
  font-family: Roboto;
  /*margin: auto;*/
  display: block;
}

.content a{
  color:#4d90fe;
}

.content a:hover{
  color:#3480fe;
}

#over_map {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 99;
}

#over_map ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#over_map li {
  display: block;
  margin: 0 0 1px 0;
}
#over_map a {
  display: block;
  padding: 20px;
  color: #fff;
  background-color: #b4e664;
  text-align: center;
}
#over_map a:hover {
  background-color: #85c420;
}

section:first-child {
  position: fixed;
  top: -9999px;
  left: -9999px;
  visibilty: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 999;
}
section.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibilty: visible;
  opacity: 0;
  opacity: 1;
}

section .content {
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
  max-width: 600px;
  padding: 40px;
  background-color: #fff;
  overflow-y: scroll;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
section .content a.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-family: Roboto;
  background-color: #4d90fe;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
section .content a.close:hover {
  background-color: #3480fe;
}

section.active .content {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
